# Terraform working directory
.terraform/
.documents/

# Terraform state files
*.tfstate
*.tfstate.*
*.docx.*

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variable files (agar secrets hon)
*.auto.tfvars

# Temporary files
*.tmp

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db